@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <div style="width: 35rem; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);">
      
        <h1 class="text-danger text-center fw-bold" style="margin-left: 60px;">NO TIENES PERMITIDO EL ACCESO A ESTA PAGINA</h1>

    </div>
</header>

